---
  - name: Create database.yml
    template:
      src: mysql_database.yml
      dest: /u/apps/{{project_name}}/shared/config/database.yml
    sudo: true
    sudo_user: "{{deploy_user}}"

  - name: Install mysql2 gem dependencies
    apt:
      name: libmysqlclient-dev
    sudo: true
