- name: Install nginx
  apt: pkg=nginx state=latest
  become: true

- name: Remove the default app
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  become: true

- name: "Configure rails projects"
  import_role:
    name: nginx-rails

- name: create nginx status config
  template:
    src: status
    dest: /etc/nginx/sites-available/status
  become: true

- name: enable nginx status
  file:
    src: /etc/nginx/sites-available/status
    dest: /etc/nginx/sites-enabled/status
    state: link
  become: true

- name: Restart nginx
  action: service name=nginx state=restarted
  become: true
